.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-height: 410px;
  padding: 36px 35px 34px;
  overflow: hidden;
  border: 1px solid var(--color-stone);
  border-radius: 22px;
  background: rgb(255 255 255 / 40%);
  color: var(--color-ink);
  transition: transform .25s ease, box-shadow .25s ease;

  min-width: 450px;
  max-width: 450px;
}

.card:hover {
  transform: translateY(-5px);
  border: 1px solid var(--color-sand);

}

.cardTitle {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: var(--color-brown);
  font: 600 var(--font-size-small) var(--font-poppins);
  letter-spacing: 1px;
}

.symbol {
  color: var(--color-brown);
  font: 400 var(--font-size-medium) var(--font-poppins);
  letter-spacing: 0;
}

.content {
  width: 100%;
  margin: auto 0;
  text-align: left;
}

.content h3 {
  margin-bottom: 10px;
  letter-spacing: -3px;
  font: 500 var(--font-size-large) var(--font-seasons);
}

.content p {
  color: var(--color-brown);
  font: 400 var(--font-size-medium) var(--font-poppins);
}

.link {
  position: absolute;
  right: 30px;
  bottom: 30px;
  display: grid;
  width: 50px;
  height: 50px;
  place-items: center;
  border: 1px solid var(--color-ink);
  border-radius: 50%;
}

.arrow {
  font: 400 var(--font-size-medium) var(--font-poppins);
  color: var(--color-ink);
  transition: transform .2s ease;
}

.link:hover .arrow {
  transform: translateX(4px);
}

@media (max-width: 700px) {
  .card {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    min-height: 320px;
  }

  .cardTitle {
    font-size: var(--font-size-small-mobile);
  }

  .content h3 {
    font-size: var(--font-size-large-mobile);
  }

  .link {
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
  }

  .arrow {
    font-size: var(--font-size-small);
  }
}

@media (min-width: 701px) and (max-width: 1500px) {
  .card {
    width: 100%;
    min-width: 0;
    max-width: 100%;
    min-height: 320px;
  }

  .cardTitle {
    font-size: var(--font-size-small-mobile);
  }

  .content h3 {
    font-size: var(--font-size-large-mobile);
  }

  .link {
    right: 20px;
    bottom: 20px;
    width: 30px;
    height: 30px;
  }

  .arrow {
    font-size: var(--font-size-small);
  }
}